/*图标和按钮*/   
.hope-icon {
    color: #ffb6c1 !important /*设置所有图标颜色*/
}

.hope-button {
    color: #fff !important; /*设置按钮字体为白色*/
    background-color: #ffb6c1 !important /*设置按钮背景为粉色*/
}

.hope-ui-dark .hope-c-ivMHWx-hZistB-cv.hope-c-PJLV.hope-c-PJLV-iikaotv-css {
	background-color: #202425 !important
}

.hope-c-PJLV-ijzCLcW-css,
.hope-c-mHASU-kFfbLQ-colorScheme-info,
.hope-ui-dark .hope-c-ivMHWx-hZistB-cv.hope-c-PJLV.hope-c-PJLV-iikaotv-css svg{
    color: #ffb6c1 !important
}
.hope-c-mHASU-kFfbLQ-colorScheme-info[data-focus] {
    border-color: #ffb6c1 !important;
    box-shadow: 0 0 0 2px #ffcdd4 !important
}
.hope-ui-light .hope-c-mHASU-kFfbLQ-colorScheme-info svg {
    color: white !important
}
.hope-ui-dark .hope-c-mHASU-kFfbLQ-colorScheme-info svg {
    color: #202425 !important
}

.left-toolbar-box svg:hover,
.center-toolbar svg:hover {
	color:  white !important;
	background-color: #ffb6c1
}

.hope-c-PJLV-icHSmvX-css {
    border-radius: 5px
}

/*标题栏*/
.hope-ui-light .hope-breadcrumb__list {
	border-radius: 10px !important /*标题栏圆角*/
}

/*搜索框*/
.hope-ui-light .hope-c-PJLV-ikEIIxw-css {
	background-color: rgba(255,255,255, .7)
}
.hope-c-dhzjXW.hope-c-XNyZK.hope-c-PJLV.hope-c-PJLV-ijhzIfm-css:hover {
	color: #ffb6c1 !important;
	background: none
}
.hope-ui-light [id*="hope-modal-cl"] {
	background-color: rgba(250,250,250,.75) !important;
	backdrop-filter: blur(5px)
}

/*公告板*/
.hope-notification__list.hope-c-UdTFD.hope-c-UdTFD-jEXiZO-placement-top-end.hope-c-PJLV.hope-c-PJLV-ijhzIfm-css {
	max-width: fit-content
}

/*目录框*/
.hope-ui-light .hope-breadcrumb__list,
.hope-ui-light .obj-box,
.hope-ui-light .hope-c-PJLV-ikSuVsl-css,
.hope-ui-light .hope-c-PJLV-ijgzmFG-css {
	background-color: rgba(255, 255, 255, .8) !important /*标题栏、目录框和工具栏背景色和透明度(亮)*/
}

/*底部*/
.footer {
	display: none !important /*隐藏页脚(自行选择)*/
}

#footer {
	line-height: 50px;
	text-align: center;
	letter-spacing: 1px
}

/*背景*/
.hope-ui-dark {
	background-color: #555555 !important /*暗色模式背景色*/
}

.hope-ui-light {
	background-image: url(https://dev.iw233.cn/api.php?sort=pc);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width:960px) {
	.hope-ui-light {
		background-image: url(https://moe.anosu.top/api/?sort=mp);
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

/*背景图URL可自行替换，默认的不保证长期可用（问就是没钱）*/
